.navContainer {
  .navWrapper {
    display: flex;
    justify-content: center;
    .nav-rightWrapper {
      display: flex;

      padding-right: 15px;
      padding-left: 15px;
      position: relative;
      .nav-item {
        padding: 10px 7px;
        cursor: pointer;
      }
    }
    .navCenter {
      padding: 10px 7px;
    }
    .nav-leftWrapper {
      display: flex;

      padding-right: 15px;
      padding-left: 15px;
      .nav-item {
        cursor: pointer;
        padding: 10px 7px;
      }
    }
  }
}
